section.articles {
    display: grid;
    grid-gap: 2em;
    margin-top: 1em;
}

@mixin articles--tablet {
    section.articles {
        -ms-grid-columns: 1fr 1fr;  
        grid-template-columns: repeat(2, 1fr);
    }
}
 
@mixin articles--desktop() {
    section.articles {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;  
        grid-template-columns: repeat(4, 1fr);
    }
}